<!doctype html>
<html lang="en" class="mainPage">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->
        <title>Stock Market Search</title>
        <!-- import resources -->
        <script src="/js/moment.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"   integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="   crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="/js/search.js"></script>
        <link rel="stylesheet" href="/css/search.css">
    </head>
    <body id="body">
        <!-- the whole div-->
        <div class="container">
            <!-- the form div-->
            <div id="formFistSection">
                <form id="searchForm" class="form-horizontal" role="form" name="myform" action= "" method="GET" >
                    <h1 class="formH1">Stock Market Search</h1>
                    <div class = "row">
                        <div class="col-sm-3">
                            <label class="control-label" for="stockInput">Enter the stock name or symbol:<span style="color:red">*</span></label>
                        </div>
                        <br class = "visible-xs">
                        <div class="col-sm-4">
                            <input type="text" class="form-control"  name="inputText" placeholder="Apple Inc or AAPL" id="stockInput" required><br class = "visible-xs">
                        </div>

                        <div class="col-sm-5">
                            <button type="submit"  class="btn btn-primary" id= "quoteButton"><span class="glyphicon glyphicon-search"></span>Get Quote </button>
                            <button type="button" class="btn btn-default" onclick ="clearResult()"><span class=" glyphicon glyphicon-refresh"></span>Clear</button> <br>
                        </div>
                        <br class = "visible-xs">
                    </div>
                    <!-- second row include validatinformation plus Markit on Demand logo-->
                    <div class = "row">
                        <!-- this will be set for output validation information, first is null-->
                        <div class="col-sm-4 col-sm-offset-3" id="validationInformation"></div>
                        <div class="col-sm-5">
                            <label for="logoLink">Powered by:</label>
                            <a id="logoLink" target="_blank" href="http://dev.markitondemand.com/MODApis/">
                                <img id="logoImage" alt="Markit on Demand logo" src="/images/mod-logo.png" >
                            </a>
                        </div>
                    </div><!--for row-->
                </form>
            </div> <!--upper part-->
            <hr id="lineHR">
            <!-- below is the second part of first figure, result show in carousel still need to figure out how to solve this part-->
            <div class="secContainer">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!--thecarousel need id , class, data ride -->
                    <!-- Wrapper for slide>-->
                    <div class="carousel-inner">
                        <!-- favorite section-->
                        <div class="item active">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                  <label>Favorite List:</label>
                                   <div class="pull-right"><span class = "hidden-xs">
                                       Automatic Refresh:</span><span data-toggle="tooltip" data-placement="bottom" title="Auto Refresh "><input id="autoRefreshButton" type="checkbox" data-toggle="toggle"></span>
                                        <button type="submit" id="refreshButton" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Refresh button" ><span class="glyphicon glyphicon-refresh"></span></button>
                                        <!--below need to modify-->
                                       <button type="submit" id="nextSlide" class="btn btn-default" data-slide="next" href="#myCarousel" data-toggle="tooltip" data-placement="bottom" title="show Stock information" disabled ="true"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                   </div>
                                </div>
                                <div class="panel-body">
                                    <div  class="table-responsive">
                                        <table id="favoriteTable" class="table table-striped table-responsive">
                                            <tr>
                                                <th>Symbol</th>
                                                <th>Company Name</th>
                                                <th>Stock Price</th>
                                                <th>Change (Change Percent)</th>
                                                <th>Market Cap</th>
                                                <th>      </th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!--end of favorite section-->
                        <!-- below is the stock detail item-->
                        <div class ="item"><!--second slide section-->
                            <div class="panel panel-default" id="sectionTwo">
                                <div class="panel-heading">

                                    <!-- stock detail panel heading include left button and stock detail text-->
                                    <button type="submit" id="prevSlide" class="btn btn-default" data-slide="prev" href="#myCarousel" onclick="refreshFavoritePannel()"><span class="glyphicon glyphicon-chevron-left"></span></button> <strong>Stock Details</strong>
                                </div>
                            </div>
                            <div class="panel-body">
                                <!--below is the navigation section--oh my god, so complicated555>-->
                                <div id= tags>
                                    <ul class="nav nav-pills">
                                        <li class="active"><a data-toggle="pill" href="#currentStock"><span class="glyphicon glyphicon-dashboard"></span><span class = "visible-xs">Stock</span><span class = "hidden-xs">Current Stock</span></a></li>
                                        <li><a data-toggle="pill" href="#HistoricalCharts"><span class="glyphicon glyphicon-stats"></span><span class = "visible-xs">Charats</span><span class = "hidden-xs">Historical Charts</span></a></li>
                                        <li><a data-toggle="pill" href="#newsFeeds"><span class="glyphicon glyphicon-link"></span><span class = "visible-xs">News</span><span class = "hidden-xs">News Feeds</span></a></li>
                                    </ul>
                                    <hr>
                                </div>
                                <div id="tagDetail">
                                    <div class="tab-content">
                                        <div id="currentStock" class="tab-pane fade in active">
                                            <!-- below is the desdign for current stock information-->
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <span><strong>Stock Details</strong></span>
                                                    <div class="pull-right">
                                                        <button id="fbButton" type="button" class="btn btn-primary" onclick="ShowFacebook()">
                                                        </button>
                                                        <button  id="favouriteButton" type="button" class="btn btn-default" >
                                                        <span id="favouriteStar" class="glyphicon glyphicon-star-empty"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div id="stockDetailSection" class="col-sm-6">
                                                    <!--stock detail table-->
                                                </div>
                                                <!--stock chart-->
                                                 <div  id="stockChart" class="col-sm-6">
                                                    <!--will append image by jquery-->
                                                    <!-- TradingView Widget BEGIN -->
                                                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

                                                    <!-- TradingView Widget END -->
                                                </div>
                                            </div>
                                        </div>
                                        <div id="HistoricalCharts" class="tab-pane fade">
                                            <!--will append HistoricalCharts by jquery-->
                                        </div>
                                        <div id="newsFeeds" class="tab-pane fade">
                                            <!--will append newsFeeds by jquery-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end of carousel-inner - all- slide section-->
            </div>
        </div>
    </body>
</html>
